{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<!-- meaning if the name exists (if the form was filled out yet) -->
{% if name%}
    <h1>User Added!</h1>
    <br/>
    <table class="table table-hover table-bordered table-striped">
        {% for our_user in our_users %}
            <tr>
            <td>{{ our_user.id}} - {{ our_user.name}} - {{ our_user.email}}</td>
            </tr>
        {% endfor %}
        </table>

{% else %}
    <h1>User List:</h1>
    <br/>
    <div class ="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        <!-- Generate Secret Token -->
        {{ form.hidden_tag() }}
        <!-- Label for the entry -->
        {{ form.name.label(class="form-label")}}
        <!-- Actual entry -->
        {{ form.name(class="form-control")}} 
        <br/>
        <!-- Label for the entry -->
        {{ form.email.label(class="form-label")}}
        <!-- Actual entry -->
        {{ form.email(class="form-control")}}
        <br/>  
        {{ form.submit(class="btn btn-secondary") }}    
    </form>
    </div>  

<table class="table table-hover table-bordered table-striped">
{% for our_user in our_users %}
    <tr>
    <td>{{ our_user.id}} - {{ our_user.name}} - {{ our_user.name}}</td>
    </tr>
{% endfor %}
</table>

{% endif %}

{% endblock%}