{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if name%}
    <h1>Hello {{ name }}!!</h1>
    <br/>
    <img src="{{ url_for('static', filename='images/ocean.png')}}" width="1100">
    <p id="demo">This is stuff...</p>

<script src ="{{ url_for('static', filename='js/myfile.js')}}"></script>
{% else %}
    <h1>What's Your Name?</h1>
    <br/>
    <!-- Form method is POST for almost all of them -->
    <form method="POST"> 
        <!-- hidden_tag will create our CSRF token -->
        {{ form.hidden_tag() }}
        <!--  name.label is the words above the text box-->
        {{ form.name.label(class="form-label")}}
        <!--  Actual text box-->
        {{ form.name(class="form-control")}}
        <br/>  
        <!--  submit button-->
        {{ form.submit(class="btn btn-secondary") }}      
    </form>

{% endif %}

{% endblock%}